NODE_ENV=development
RABBITMQ_URL=amqp://app:app@localhost:5672
REDIS_URL=redis://localhost:6379
API_GRAPHQL_URL=http://localhost:3000/graphql

QUEUE_RAW_EVENT=source.raw.v1
QUEUE_NORMALIZED_EVENT=source.normalized.v1
SHARED_CONTRACTS_DIR=../shared-contracts
